* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* IPHONE 8 */

body {
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}
.logo {
  width: 120px;
  margin: 20px auto;
}
.logoimg {
  width: 100%;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  margin: 0 40px;
}
h2 {
  margin: 40px;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

.boots-section {
  margin: 20px 40px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.pic {
  width: 100%;
  border-radius: 5%;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item {
  background-color: #f8f8f8;
  border-radius: 5%;
}
.price {
  text-align: right;
  margin-right: 10px;
}

.productname {
  text-align: left;
  margin-left: 10px;
}
